################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FCG_USERSAPI/FileContentIndex
/.vs/FCG_USERSAPI/CopilotIndices/17.14.1368.60722/CodeChunks.db
/.vs/FCG_USERSAPI/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
/.vs/FCG_USERSAPI/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
/.vs/FCG_USERSAPI/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
/.vs/FCG_USERSAPI/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
/.vs/FCG_USERSAPI/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
